/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */
 :root {
  --rr-c-gray-1: #dddde3;
  --rr-c-gray-2: #e4e4e9;
  --rr-c-gray-3: #ebebef;
  --rr-c-gray-soft: rgba(142, 150, 170, 0.14);

  --rr-c-green-1: #2aa065;
  --rr-c-green-2: #3abc7a;
  --rr-c-green-3: #3ec37e;
  --rr-c-green-soft: rgba(39,138,65,.14);

  --rr-c-yellow-1: #fab914;
  --rr-c-yellow-2: #fbbc44;
  --rr-c-yellow-3: #ffcc64;
  --rr-c-yellow-soft: rgba(250,185,20,.14);

  --rr-c-red-1: #f17577;
  --rr-c-red-2: #df6769;
  --rr-c-red-3: #d84d4f;
  --rr-c-red-soft: rgba(235,35,35,.14);

  --rr-c-purple-1: #6f42c1;
  --rr-c-purple-2: #7e4cc9;
  --rr-c-purple-3: #8e5cd9;
  --rr-c-purple-soft: rgba(159, 122, 234, 0.14);

  --rr-c-indigo-1: #3451b2;
  --rr-c-indigo-2: #3a5ccc;
  --rr-c-indigo-3: #5672cd;
  --rr-c-indigo-soft: rgba(100, 108, 255, 0.14);
}
.dark {
  --rr-c-gray-1: #515c67;
  --rr-c-gray-2: #414853;
  --rr-c-gray-3: #32363f;
  --rr-c-gray-soft: rgba(101, 117, 133, 0.16);

  --rr-c-green-1: #3abc7a;
  --rr-c-green-2: #2aa065;
  --rr-c-green-3: #228051;
  --rr-c-green-soft: rgba(39,138,65,.16);

  --rr-c-yellow-1: #fbbc44;
  --rr-c-yellow-2: #fab914;
  --rr-c-yellow-3: #da9a08;
  --rr-c-yellow-soft: rgba(250,185,20,.16);

  --rr-c-red-1: #df6769;
  --rr-c-red-2: #d84d4f;
  --rr-c-red-3: #b63a3d;
  --rr-c-red-soft: rgba(235,35,35,.16);

  --rr-c-purple-1: #c8abfa;
  --rr-c-purple-2: #a879e6;
  --rr-c-purple-3: #8e5cd9;
  --rr-c-purple-soft: rgba(159, 122, 234, 0.16);

  --rr-c-indigo-1: #a8b1ff;
  --rr-c-indigo-2: #5c73e7;
  --rr-c-indigo-3: #3e63dd;
  --rr-c-indigo-soft: rgba(100, 108, 255, 0.16);
}

:root {
  --rr-c-primary: var(--rr-c-green-1);
  --rr-c-secondary: var(--rr-c-yellow-1);
  --rr-c-action: var(--rr-c-red-1);
}


/**
 * Colors: Solid
 * -------------------------------------------------------------------------- */
:root {
  --rr-c-white: #ffffff;
  --rr-c-black: #000000;

  --rr-c-neutral: var(--rr-c-black);
  --rr-c-neutral-inverse: var(--rr-c-white);
}

.dark {
  --rr-c-neutral: var(--rr-c-white);
  --rr-c-neutral-inverse: var(--rr-c-black);
}


/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */
:root {
  --rr-c-bg: #fefaf0;
  --rr-c-bg-alt: #fdf3e1;
  --rr-c-bg-elv: #fefaf0;
  --rr-c-bg-soft: #fdf3e1;
}
.dark {
  --rr-c-bg: #181b22;
  --rr-c-bg-alt: #181b22;
  --rr-c-bg-elv: #2e323e;
  --rr-c-bg-soft: #2e323e;
}

/* Holdovers from the beta.3 default theme. */
:root {
  --rr-c-mute: #fdf3e1;
  --rr-c-bg-soft-up: #fdf6e9;

}
.dark {
  --rr-c-mute: #2e323e;
  --rr-c-bg-soft-up: #303644;
}


/**
 * Colors: Borders
 * -------------------------------------------------------------------------- */
 :root {
  --rr-c-border: #c2c2c4;
  --rr-c-divider: #e2e2e3;
  --rr-c-gutter: #e2e2e3;
}

.dark {
  --rr-c-border: #3c3f44;
  --rr-c-divider: #2e2e32;
  --rr-c-gutter: #000000;
}


/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */
:root {
  --rr-c-text-1: rgba(60, 60, 67);
  --rr-c-text-2: rgba(60, 60, 67, 0.78);
  --rr-c-text-3: rgba(60, 60, 67, 0.56);
}

.dark {
  --rr-c-text-1: rgba(255, 255, 245, 0.86);
  --rr-c-text-2: rgba(235, 235, 245, 0.6);
  --rr-c-text-3: rgba(235, 235, 245, 0.38);
}


/**
 * Colors: Function
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 *
 * To understand the scaling system, refer to "Colors: Palette" section.
 * -------------------------------------------------------------------------- */
 :root {
  --rr-c-default-1: var(--rr-c-gray-1);
  --rr-c-default-2: var(--rr-c-gray-2);
  --rr-c-default-3: var(--rr-c-gray-3);
  --rr-c-default-soft: var(--rr-c-gray-soft);

  --rr-c-brand-1: var(--rr-c-green-1);
  --rr-c-brand-2: var(--rr-c-green-2);
  --rr-c-brand-3: var(--rr-c-green-3);
  --rr-c-brand-soft: var(--rr-c-green-soft);

  --rr-c-tip-1: var(--rr-c-indigo-1);
  --rr-c-tip-2: var(--rr-c-indigo-2);
  --rr-c-tip-3: var(--rr-c-indigo-3);
  --rr-c-tip-soft: var(--rr-c-indigo-soft);

  --rr-c-note-1: var(--rr-c-indigo-1);
  --rr-c-note-2: var(--rr-c-indigo-2);
  --rr-c-note-3: var(--rr-c-indigo-3);
  --rr-c-note-soft: var(--rr-c-indigo-soft);

  --rr-c-success-1: var(--rr-c-green-1);
  --rr-c-success-2: var(--rr-c-green-2);
  --rr-c-success-3: var(--rr-c-green-3);
  --rr-c-success-soft: var(--rr-c-green-soft);

  --rr-c-important-1: var(--rr-c-purple-1);
  --rr-c-important-2: var(--rr-c-purple-2);
  --rr-c-important-3: var(--rr-c-purple-3);
  --rr-c-important-soft: var(--rr-c-purple-soft);

  --rr-c-warning-1: var(--rr-c-yellow-1);
  --rr-c-warning-2: var(--rr-c-yellow-2);
  --rr-c-warning-3: var(--rr-c-yellow-3);
  --rr-c-warning-soft: var(--rr-c-yellow-soft);

  --rr-c-danger-1: var(--rr-c-red-1);
  --rr-c-danger-2: var(--rr-c-red-2);
  --rr-c-danger-3: var(--rr-c-red-3);
  --rr-c-danger-soft: var(--rr-c-red-soft);

  --rr-c-caution-1: var(--rr-c-red-1);
  --rr-c-caution-2: var(--rr-c-red-2);
  --rr-c-caution-3: var(--rr-c-red-3);
  --rr-c-caution-soft: var(--rr-c-red-soft);
}


/**
 * Component: Button
 * -------------------------------------------------------------------------- */
 :root {
  --rr-button-brand-border: transparent;
  --rr-button-brand-text: var(--rr-c-white);
  --rr-button-brand-bg: var(--rr-c-brand-1);
  --rr-button-brand-hover-border: transparent;
  --rr-button-brand-hover-text: var(--rr-c-white);
  --rr-button-brand-hover-bg: var(--rr-c-brand-3);
  --rr-button-brand-active-border: transparent;
  --rr-button-brand-active-text: var(--rr-c-white);
  --rr-button-brand-active-bg: var(--rr-c-brand-2);

  --rr-button-alt-border: transparent;
  --rr-button-alt-text: var(--rr-c-text-1);
  --rr-button-alt-bg: var(--rr-c-yellow-3);
  --rr-button-alt-hover-border: transparent;
  --rr-button-alt-hover-text: var(--rr-c-text-1);
  --rr-button-alt-hover-bg: var(--rr-c-yellow-1);
  --rr-button-alt-active-border: transparent;
  --rr-button-alt-active-text: var(--rr-c-neutral);
  --rr-button-alt-active-bg: var(--rr-c-yellow-2);
}
.dark {
  --rr-button-brand-bg: var(--rr-c-brand-3);
  --rr-button-brand-hover-bg: var(--rr-c-brand-1);
  --rr-button-alt-text: var(--rr-c-neutral);
  --rr-button-alt-hover-text: var(--rr-c-neutral);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
 :root {
  --rr-custom-block-info-border: var(--rr-c-brand-3);
  --rr-custom-block-info-text: var(--rr-c-text-1);
  --rr-custom-block-info-bg: var(--rr-c-brand-soft);
  --rr-custom-block-info-code-bg: var(--rr-c-brand-soft);

  --rr-custom-block-note-border: var(--rr-c-default-3);
  --rr-custom-block-note-text: var(--rr-c-text-1);
  --rr-custom-block-note-bg: var(--rr-c-default-soft);
  --rr-custom-block-note-code-bg: var(--rr-c-default-soft);

  --rr-custom-block-tip-border: var(--rr-c-tip-3);
  --rr-custom-block-tip-text: var(--rr-c-text-1);
  --rr-custom-block-tip-bg: var(--rr-c-tip-soft);
  --rr-custom-block-tip-code-bg: var(--rr-c-tip-soft);

  --rr-custom-block-important-border: var(--rr-c-important-3);
  --rr-custom-block-important-text: var(--rr-c-text-1);
  --rr-custom-block-important-bg: var(--rr-c-important-soft);
  --rr-custom-block-important-code-bg: var(--rr-c-important-soft);

  --rr-custom-block-warning-border: var(--rr-c-warning-3);
  --rr-custom-block-warning-text: var(--rr-c-text-1);
  --rr-custom-block-warning-bg: var(--rr-c-warning-soft);
  --rr-custom-block-warning-code-bg: var(--rr-c-warning-soft);

  --rr-custom-block-danger-border: var(--rr-c-danger-3);
  --rr-custom-block-danger-text: var(--rr-c-text-1);
  --rr-custom-block-danger-bg: var(--rr-c-danger-soft);
  --rr-custom-block-danger-code-bg: var(--rr-c-danger-soft);

  --rr-custom-block-caution-border: var(--rr-c-caution-3);
  --rr-custom-block-caution-text: var(--rr-c-text-1);
  --rr-custom-block-caution-bg: var(--rr-c-caution-soft);
  --rr-custom-block-caution-code-bg: var(--rr-c-caution-soft);

  --rr-custom-block-details-border: var(--rr-custom-block-info-border);
  --rr-custom-block-details-text: var(--rr-custom-block-info-text);
  --rr-custom-block-details-bg: var(--rr-custom-block-info-bg);
  --rr-custom-block-details-code-bg: var(--rr-custom-block-info-code-bg);
}
.dark {
  --rr-custom-block-info-border: var(--rr-c-brand-1);
  --rr-custom-block-info-text: var(--rr-c-brand-1);
  --rr-custom-block-info-bg: var(--rr-c-mute);
  --rr-custom-block-info-code-bg: var(--rr-c-mute);

  --rr-custom-block-tip-border: var(--rr-c-text-1);
  --rr-custom-block-tip-text: var(--rr-c-text-1);
  --rr-custom-block-tip-bg: var(--rr-c-mute);
  --rr-custom-block-tip-code-bg: var(--rr-c-mute);

  --rr-custom-block-warning-border: var(--rr-c-warning-3);
  --rr-custom-block-warning-text: var(--rr-c-warning-3);
  --rr-custom-block-warning-bg: var(--rr-c-mute);
  --rr-custom-block-warning-code-bg: var(--rr-c-mute);

  --rr-custom-block-danger-border: var(--rr-c-danger-1);
  --rr-custom-block-danger-text: var(--rr-c-danger-1);
  --rr-custom-block-danger-bg: var(--rr-c-mute);
  --rr-custom-block-danger-code-bg: var(--rr-c-mute);
}
